:root{
--red: hsl(1, 90%, 64%);
--blue: hsl(219, 85%, 26%);

--veryLightGrayishBlue: hsl(210, 60%, 98%);
--lightGrayishBlue1: hsl(211, 68%, 94%);
--lightGrayishBlue2: hsl(205, 33%, 90%);
--grayishBlue: hsl(219, 14%, 63%);
--darkGrayishBlue: hsl(219, 12%, 42%);
--veryDarkBlue: hsl(224, 21%, 14%);
}


body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
}

header{
    display: flex;
    align-items: center;
    padding-inline: 8px;
    margin-top: 11px;
    margin-bottom: 10px;
}

header h1{
    font-size: 1.43em;
    font-weight: 800;
    color: var(--veryDarkBlue);
}

.notif-qty{
    font-weight: 800;
    font-size: 1.2em;
    color: white;
    background-color: var(--blue);
    padding-inline: 11px;
    padding-block: 2px;
    border-radius: 5px;
    margin-left: 9px;
}

header label{
    margin-right: 0px;
    margin-left: auto;
    color: var(--darkGrayishBlue);
}

article{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 11px;
    margin-inline: 8px;

    display: flex;
    padding: 15px;
    padding-right: 14px;
}


/*display unread notifs in slightly darker colour*/
.unread{
    background-color: var(--veryLightGrayishBlue);
}

/*display dot after notif description if unread*/
.unread h2::after{
    content: url("./assets/images/dot.svg");
    margin-left: 7px;
    margin-bottom: 3px;
}

article img{
    width: 40px;
    height: 40px;
    margin-right: 13px;
}

article h2{
    margin-top: 0px;
    font-weight: 500;
    font-size: 1em;
    color: var(--darkGrayishBlue);
    margin-bottom: 0px;
}

article b{
    font-weight: 800;
    color: var(--veryDarkBlue);
}

article b::after{
    content: "\00a0";
}

article em::before{
    content: "\00a0";
}

article em{
    font-weight: 800;
    font-style: normal;
}

.post-name{
    color: var(--darkGrayishBlue);
}

.gc-name{
    color: var(--blue);
 }

 .clickable:hover{
    color: var(--blue);
 }

.time{
    margin-top: 3px;
    color: var(--grayishBlue);
}

.msg-content{
    margin: 12px 0px 0px 0px;
    border: 1px solid var(--lightGrayishBlue2);
    border-radius: 5px;
    padding: 15px;
}

.msg-content:hover{
    background-color: var(--lightGrayishBlue2);
}

.post-img{
    margin-left: auto;
    margin-right: 0px;
}


.attribution{
    position: fixed;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
}


@media only screen and (min-width: 700px){
    body{
        background-color: var(--veryLightGrayishBlue);
        font-size: 16px;
    }

    .notification-page{
        background-color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        width: 731px;
        padding-inline: 20px;
        border-radius: 20px;
    }

    header{
        margin-top: 18px;
        margin-bottom: 15px;
        padding-inline: 11px;
    }

    header h1{
        font-size: 1.5em;
    }

    .notif-qty{
        font-size: 1em;
    }

    article{
        padding: 18px;
        padding-bottom: 16px;
        padding-right: 19px;
    }

    article img{
        width: 46px;
        height: 46px;
    }

    article h2{
        margin-top: 1px;
    }

    .msg-content{
        padding: 18px;
    }

}
