:root{
--red: hsl(1, 90%, 64%);
--blue: hsl(219, 85%, 26%);

--veryLightGrayishBlue: hsl(210, 60%, 98%);
--lightGrayishBlue1: hsl(211, 68%, 94%);
--lightGrayishBlue2: hsl(205, 33%, 90%);
--grayishBlue: hsl(219, 14%, 63%);
--darkGrayishBlue: hsl(219, 12%, 42%);
--veryDarkBlue: hsl(224, 21%, 14%);
}


body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
}

header{
    display: flex;
    align-items: center;
    padding-inline: 8px;
    margin-top: 11px;
    margin-bottom: 10px;
}

header h1{
    font-size: 1.43em;
    font-weight: 800;
    color: var(--veryDarkBlue);
}

.notif-qty{
    font-weight: 800;
    font-size: 1.2em;
    color: white;
    background-color: var(--blue);
    padding-inline: 11px;
    padding-block: 2px;
    border-radius: 5px;
    margin-left: 9px;
}

header label{
    margin-right: 0px;
    margin-left: auto;
    color: var(--darkGrayishBlue);
}

article{
    background-color: var(--veryLightGrayishBlue);
    border-radius: 10px;
    margin-bottom: 11px;
    margin-inline: 8px;

    display: flex;
    padding: 15px;
}

article img{
    width: 40px;
    height: 40px;
    margin-right: 13px;
}

article h2{
    margin-top: 0px;
    font-weight: 500;
    font-size: 1em;
    color: var(--darkGrayishBlue);
    margin-bottom: 0px;
}

article b{
    font-weight: 800;
    color: var(--veryDarkBlue);
}

article em{
    font-weight: 800;
    font-style: normal;
}

.time{
    margin-top: 2px;
    color: var(--grayishBlue);
}
